
.env
node_modules/
*.txt
*.log
*.json
*.csv
*.xlsx
*.xls
*.doc
*.docx
*.ppt
*.pptx
*.pdf
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.wim
*.iso
*.img
*.deb
*.rpm
*.msi
*.exe
*.app
*.dmg
*.pkg
*.deb
*.rpm
*.msi
*.exe
*.app
*.dmg
*.pkg
